<!doctype html>
<html ng-app="assign_8">

  <head>
    <link rel="stylesheet" type="text/css"
    href="css/style.css">
  </head>

  <body ng-class="{'white': !absolutefirst }" ng-controller="myCtrl">


     <div class="fixed header">
        <img src="images/header.jpg">
     </div>

     <div class="first" ng-show="absolutefirst">
      <h1>What Hair Loss Solution is Right For Me?</h1>
      <p>Discover what hair loss solutions are best for your specific type of hair loss</p>
      <h2 style="margin: 1em 9em" class=" r" ng-click="first()">Get Started Now</h2>
      <h2 class="z" ng-click="testi()"> Testimonials </h2>
    </div>
  </div>


    <div class="firstpageprompt cool" ng-show="vtrue">

      <p>Are you a man or a woman?</p>

    <div class="selection">

      <!-- attempting to do ng-click with two params -->
      <div ng-class="{ 'darkred': man }" ><a href="" ng-click= "select('man', 'woman')">Man</a></div>

      <div ng-class="{ 'darkred': woman }"><a class="y" href="" ng-click= "select('woman', 'man')">Woman</a></div>


      <img class="submitbutton a" src="images/submit.png" ng-show="button1show" ng-click="firstsubmit()"/>

    </div>
    </div>



    <div class="secondpageprompt options" ng-show="vtrue2">
      <p>Which statement best descibes your hair loss?</p>
      <div>
        <div>


          <div ng-class="{ 'darkred' : opt1 }"><a href="" ng-click= "select2('opt1','opt2','opt3','opt4','opt5','opt6')">I am just beginning to thin.</a></div>



          <div ng-class="{ 'darkred': opt2 }"><a href="" ng-click= "select2('opt2','opt1','opt3','opt4','opt5','opt6')">I am visibly thinning and can see my scalp.</a></div>
          <div ng-class="{ 'darkred' : opt3 } "><a href="" ng-click= "select2('opt3','opt2','opt1','opt4','opt5','opt6')">I have extensive hair loss.</a></div>
          <div ng-class="{ 'darkred': opt4 }"><a href="" ng-click= "select2('opt4','opt2','opt3','opt1','opt5','opt6')">I have a full head of hair but my hair is very fine.</a></div>
          <div ng-class="{ 'darkred': opt5 }"><a href="" ng-click= "select2('opt5','opt2','opt3','opt4','opt1','opt6')">I have hair loss in my family and want to hold on to what I have.</a></div>
          <div ng-class="{ 'darkred': opt6 }"><a href="" ng-click= "select2('opt6','opt2','opt3','opt4','opt5','opt1')">I have hair loss due to a medical treatment such as Chemotherapy.</a></div>
          <img class="submitbutton a" src="images/submit.png" ng-show="button2show" ng-click="secondsubmit()">
        </div>
    </div>
  </div>

    <div class="options2" ng-show="solutions1">
      <h1>Based on your answers, these treatment options are best suited to your needs:</h1>
      <p class="y" ng-click="select3('solu1p1', 'solu2p1', 'solu3p1')">Laser Hair Therapy</p>
      <p class="y" ng-click="select3('solu2p1', 'solu1p1', 'solu3p1')">Revive Procare</p>
      <p class="y" ng-click="select3('solu3p1', 'solu2p1', 'solu1p1')">Scalp Wellness</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>

    <div class="headers" ng-show="solu1p1">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>
      <h1>Laser Hair Therapy</h1>

      <h2> Laser Hair Therapy is an effective drug free and non-surgical treatment designed for men and women experiencing early to moderate stages of hair loss. Laser light energy is used to stimulate hair growth through an FDA approved cool laser device. The laser stimulates healthy hair re-growth, stops the progression of hair loss, increases blood supply to the scalp, and strengthens the integrity of the hair. The treatments can also aid in healing certain scalp conditions, and is recommended for post-operative healing in newly transplanted hair.</h2>

      <h2>Laser treatments are recommended to be performed a few times per week for 30 minutes in conjunction with products and scalp treatments. Clients have seen more hair growth  after a few months as well as maintaining their existing hair. We offer a complimentary consultation and scalp analysis to see if you are a candidate for laser hair treatments. We also offer at home laser equipment and treatment products.</h2>

      <img src="images/laser.jpg">

      <p class="r" ng-click="back1()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>

    <div class="headers3 clearfix" ng-show="solu2p1">

      <a class="link2" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1>Revive ProCare </h1>

      <h3>Reviv3 ProCare products are formulated as skin care products for the scalp, which is a living organic tissue. Therefore they work differently than other products. The 3-part system of prep, prime and treat works together to remove environmental residues and build-up left behind by other hair care products, restoring moisture and moisturizing nutrients to the scalp skin while still providing the “cleansing” and “moisturizing” of a hair care product. In fact, 9 out of 10 people who use the 3-part system will notice an increase in hair density, volume, better moisture and thicker hair growth in 30 days.</h3>

      <div class="one clearfix">

      <img src="images/reviv3.jpg">

      <h2>Cleanser Shampoo</h2>
      <h5>Reviv3 Procare Cleanser Shampoo is a unique, gentleformula with specialized nutrients, herbal extracts, amino acids and glycoprotein to promote strength and volume. Use it daily to prep the hair follicles for optimum hair growth.</h5>
    </br>
      <h5>Sulfate-free. Sodium chloride free. Sodium benzoate free. </h5>
       </br>
      <h5>Protects against damage from chemical residue </h5>
      <h5> Increases volume </h5>
      <h5>Protects color vibrancy </h5>
      <h5>Reduces color fading </h5>
      <h5>Reduces daily hair loss</h5>

        </div>
       <div class="one clearfix">

      <img src="images/revive2.jpg">

      <h2>Micro-Activ3 Treatment</h2>
      <h5>Micro-Activ3 Treatment is formulated with an anti-aging tri-peptide complex in a state-of-the-art nutrient delivery system. Use it daily to treat the scalp for increased microcirculation, renewed hair growth, strength and luster.</h5>
    </br>
      <h5>Thicker, fuller hair in 30 days.</h5>
      <h5>Protects the scalp from toxins and DHT build up.</h5>
      <h5>Supports youthful scalp skin. Increases microcirculation</h5>
    </div>


       <div class="one clearfix">

      <img src="images/revive1.jpg">

      <h2>Moisture Conditioner</h2>
      <h5>Reviv3 ProCare Moisture+ Conditioner is formulated with natural glycoprotein, anti-aging vitamin complex and phyto extracts. Use it daily to prime the scalp for a healthy hairgrowing environment for thicker, stronger hair.</h5>
    </br>
      <h5>Thicker, fuller hair in 30 days.</h5>
      <h5>Protects the scalp from toxins and DHT build up.</h5>
      <h5>Supports youthful scalp skin. Increases microcirculation</h5>

       </div>
      <p class="r clearfix" ng-click="back1()">Go Back</p>
      <img class="v" src="images/startagain.png" ng-click="reset()"/>
  

    </div>

    <div class="headers" ng-show="solu3p1">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1> Scalp Wellness </h1>
      <h2> Healthy hair begins with a healthy scalp. Seasonally, due to environmental  changes and the internal composition of the body the scalp is affected. Many clients suffering from psoriasis, dandruff, oiliness, dryness and sensitivity can benefit from scalp treatments.</h2>

      <h2>We have created a solution to increase volume, stop excessive hair loss and restore your scalp health. Our scalp treatments and home care systems are customized to each client’s personal needs. We are happy to style and cut your hair after your scalp treatment leaving your hair feeling refreshed and rejuvenated.  </h2>

      <img src="images/scalp_wellness.jpg">
      <p class="r" ng-click="back1()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>

    <div class="options2" ng-show="solutions2">
      <h1>Based on your answers, these treatment options are best suited to your needs:</h1>
      <p class="r" ng-click="select4('solu1p2', 'solu3p2', 'solu4p2')">Laser Hair Therapy</p>
      <p class="r" ng-click="select4('solu4p2', 'solu3p2', 'solu1p2')">Hair Enhancement</p>
      <p class="r" ng-click="select4('solu3p2','solu1p2', 'solu4p2')">Scalp Wellness</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>

    <div class="headers" ng-show="solu1p2">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>
      <h1>Laser Hair Therapy</h1>

      <h2> Laser Hair Therapy is an effective drug free and non-surgical treatment designed for men and women experiencing early to moderate stages of hair loss. Laser light energy is used to stimulate hair growth through an FDA approved cool laser device. The laser stimulates healthy hair re-growth, stops the progression of hair loss, increases blood supply to the scalp, and strengthens the integrity of the hair. The treatments can also aid in healing certain scalp conditions, and is recommended for post-operative healing in newly transplanted hair.</h2>

      <h2>Laser treatments are recommended to be performed a few times per week for 30 minutes in conjunction with products and scalp treatments. Clients have seen more hair growth  after a few months as well as maintaining their existing hair. We offer a complimentary consultation and scalp analysis to see if you are a candidate for laser hair treatments. We also offer at home laser equipment and treatment products.</h2>

      <img src="images/laser.jpg">

      <p class="r" ng-click="back2()">Go back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>

    <div class="headers2" ng-show="solu4p2">


      <h1>Hair Enhancement</h1>

      <a class="link2 clearfix" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <img src="images/hair1.jpg">

      <h2> Hair enhancement is an option that integrates real human hair using a process that is non-surgical and non-invasive. Clients who have male pattern baldness, or women who have lost a substantial amount of hair due to genetics or health conditions causing permanent baldness, can benefit from our hair enhancement services.</h2>
      <img src="images/hair2.jpg">
      <h2>The grafting procedure is virtually undetectable. The style, color and texture is matched tothe client’s existing hair and blended to create a fuller and thicker appearance. We have helped change thousands of client’s lives over the past 48 years with our hair enhancement services.</h2>
      <p class="r" ng-click="back2()">Go back</p>
      <img class="h" src="images/startagain.png" ng-click="reset()"/>
    </div>



    <div class="headers" ng-show="solu3p2">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1> Scalp Wellness </h1>
      <h2> Healthy hair begins with a healthy scalp. Seasonally, due to environmental  changes and the internal composition of the body the scalp is affected. Many clients suffering from psoriasis, dandruff, oiliness, dryness and sensitivity can benefit from scalp treatments.</h2>

      <h2>We have created a solution to increase volume, stop excessive hair loss and restore your scalp health. Our scalp treatments and home care systems are customized to each client’s personal needs. We are happy to style and cut your hair after your scalp treatment leaving your hair feeling refreshed and rejuvenated.  </h2>

      <img src="images/scalp_wellness.jpg">
      <p class="r" ng-click="back2()">Go back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>


    <div class="options2" ng-show="solutions3">
      <h1>Based on your answers, these treatment options are best suited to your needs:</h1>
      <p class="r" ng-click="select5()">Hair Enhancement</p>
       <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>



    <div class="headers2" ng-show="solu4p3">

      <h1>Hair Enhancement</h1>

      <a class="link2 clearfix" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <img src="images/hair1.jpg">

      <h2> Hair enhancement is an option that integrates real human hair using a process that is non-surgical and non-invasive. Clients who have male pattern baldness, or women who have lost a substantial amount of hair due to genetics or health conditions causing permanent baldness, can benefit from our hair enhancement services.</h2>

      <img src="images/hair2.jpg">

      <h2>The grafting procedure is virtually undetectable. The style, color and texture is matched tothe client’s existing hair and blended to create a fuller and thicker appearance. We have helped change thousands of client’s lives over the past 48 years with our hair enhancement services.</h2>
      <p class="r" ng-click="back3()">Go Back</p>
      <img class="h" src="images/startagain.png" ng-click="reset()"/>

    </div>



    <div class="options2" ng-show="solutions4">
      <h1>Based on your answers, these treatment options are best suited to your needs:</h1>
      <p class="r" ng-click="select6('solu1p4', 'solu2p4','solu4p4', 'solu3p4')">Laser Hair Therapy</p>
      <p class="r" ng-click="select6('solu2p4', 'solu1p4', 'solu4p4', solu3p4)">Revive Procare</p>
      <p class="r" ng-click="select6('solu4p4', 'solu2p4', 'solu3p4', 'solu1p4')">Hair Enhancement</p>
      <p class="r" ng-click="select6('solu3p4', 'solu2p4', 'solu1p4', 'solu4p4')">Scalp Wellness</p>
       <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>

    <div class="headers" ng-show="solu1p4">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1>Laser Hair Therapy</h1>

      <h2> Laser Hair Therapy is an effective drug free and non-surgical treatment designed for men and women experiencing early to moderate stages of hair loss. Laser light energy is used to stimulate hair growth through an FDA approved cool laser device. The laser stimulates healthy hair re-growth, stops the progression of hair loss, increases blood supply to the scalp, and strengthens the integrity of the hair. The treatments can also aid in healing certain scalp conditions, and is recommended for post-operative healing in newly transplanted hair.</h2>

      <h2>Laser treatments are recommended to be performed a few times per week for 30 minutes in conjunction with products and scalp treatments. Clients have seen more hair growth  after a few months as well as maintaining their existing hair. We offer a complimentary consultation and scalp analysis to see if you are a candidate for laser hair treatments. We also offer at home laser equipment and treatment products.</h2>

      <img src="images/laser.jpg">

      <p ng-click="back4()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>

    <div class="headers3 clearfix" ng-show="solu2p4">


      <a class="link2" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1>Revive ProCare </h1>

      <h3>Reviv3 ProCare products are formulated as skin care products for the scalp, which is a living organic tissue. Therefore they work differently than other products. The 3-part system of prep, prime and treat works together to remove environmental residues and build-up left behind by other hair care products, restoring moisture and moisturizing nutrients to the scalp skin while still providing the “cleansing” and “moisturizing” of a hair care product. In fact, 9 out of 10 people who use the 3-part system will notice an increase in hair density, volume, better moisture and thicker hair growth in 30 days.</h3>

      <div class="one clearfix">

      <img src="images/reviv3.jpg">

      <h2>Cleanser Shampoo</h2>
      <h5>Reviv3 Procare Cleanser Shampoo is a unique, gentleformula with specialized nutrients, herbal extracts, amino acids and glycoprotein to promote strength and volume. Use it daily to prep the hair follicles for optimum hair growth.</h5>
    </br>
      <h5>Sulfate-free. Sodium chloride free. Sodium benzoate free. </h5>
       </br>
      <h5>Protects against damage from chemical residue </h5>
      <h5> Increases volume </h5>
      <h5>Protects color vibrancy </h5>
      <h5>Reduces color fading </h5>
      <h5>Reduces daily hair loss</h5>

        </div>
       <div class="one clearfix">

      <img src="images/revive2.jpg">

      <h2>Micro-Activ3 Treatment</h2>
      <h5>Micro-Activ3 Treatment is formulated with an anti-aging tri-peptide complex in a state-of-the-art nutrient delivery system. Use it daily to treat the scalp for increased microcirculation, renewed hair growth, strength and luster.</h5>
    </br>
      <h5>Thicker, fuller hair in 30 days.</h5>
      <h5>Protects the scalp from toxins and DHT build up.</h5>
      <h5>Supports youthful scalp skin. Increases microcirculation</h5>

    </div>
       <div class="one clearfix">

      <img src="images/revive1.jpg">

      <h2>Moisture Conditioner</h2>
      <h5>Reviv3 ProCare Moisture+ Conditioner is formulated with natural glycoprotein, anti-aging vitamin complex and phyto extracts. Use it daily to prime the scalp for a healthy hairgrowing environment for thicker, stronger hair.</h5>
    </br>
      <h5>Thicker, fuller hair in 30 days.</h5>
      <h5>Protects the scalp from toxins and DHT build up.</h5>
      <h5>Supports youthful scalp skin. Increases microcirculation</h5>

       </div>



      <p class="r clearfix" ng-click="back4()">Go Back</p>
      <img class="v" src="images/startagain.png" ng-click="reset()"/>

    </div>

    <div class="headers2" ng-show="solu4p4">


      <h1>Hair Enhancement</h1>

      <a class="link2 clearfix" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <img src="images/hair1.jpg">

      <h2> Hair enhancement is an option that integrates real human hair using a process that is non-surgical and non-invasive. Clients who have male pattern baldness, or women who have lost a substantial amount of hair due to genetics or health conditions causing permanent baldness, can benefit from our hair enhancement services.</h2>
      <img src="images/hair2.jpg">
      <h2>The grafting procedure is virtually undetectable. The style, color and texture is matched tothe client’s existing hair and blended to create a fuller and thicker appearance. We have helped change thousands of client’s lives over the past 48 years with our hair enhancement services.</h2>
      <p ng-click="back4()">Go Back</p>
      <img class="h" src="images/startagain.png" ng-click="reset()"/>
    </div>



    <div class="headers" ng-show="solu3p4">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1> Scalp Wellness </h1>
      <h2> Healthy hair begins with a healthy scalp. Seasonally, due to environmental  changes and the internal composition of the body the scalp is affected. Many clients suffering from psoriasis, dandruff, oiliness, dryness and sensitivity can benefit from scalp treatments.</h2>

      <h2>We have created a solution to increase volume, stop excessive hair loss and restore your scalp health. Our scalp treatments and home care systems are customized to each client’s personal needs. We are happy to style and cut your hair after your scalp treatment leaving your hair feeling refreshed and rejuvenated.  </h2>

      <img src="images/scalp_wellness.jpg">
      <p ng-click="back4()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>


    <div class="options2" ng-show="solutions5">
      <h1>Based on your answers, these treatment options are best suited to your needs:</h1>
      <p class="r" ng-click="select7('solu5p5', 'solu2p5')">Wigs and Medical Hair Loss</p>
      <p ng-click="select7('solu2p5', 'solu5p5')">Scalp Wellness</p>

      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>



    <div class="headers" ng-show="solu5p5">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1>Wigs and Medical Hair Loss</h1>
      <h2>Wigs can be a beautiful option when you are experiencing temporary hair loss due to any medical condition. Hair and Scalp Wellness is committed to helping you through the entire process from selection, maintaining, and customizing your wig.</h2>
      <h2>Our styles are in line with the latest trends in fashion as well as being light and comfortable on the scalp. We will assist you in picking a length and color that compliments your face and meets your specific lifestyle needs. We will support you through the hair loss process with tender care and experienced advice. We will teach you how to care for your wig and assist you with any additional accessories you will need such as sleeping caps, fashionable scarves, skin care and makeup to help you look and feel your best.Rest assured a Hair and Scalp Wellness associate will be with you every step of the way. </h2>

      <img src="images/wigs.jpg">
      <p ng-click="back5()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>

    </div>



    <div class="headers" ng-show="solu2p5">

      <a class="link" href="#" ng-click="testi()">VIEW TESTIMONIALS</a>

      <h1> Scalp Wellness </h1>
      <h2> Healthy hair begins with a healthy scalp. Seasonally, due to environmental  changes and the internal composition of the body the scalp is affected. Many clients suffering from psoriasis, dandruff, oiliness, dryness and sensitivity can benefit from scalp treatments.</h2>
      <h2>We have created a solution to increase volume, stop excessive hair loss and restore your scalp health. Our scalp treatments and home care systems are customized to each client'  s personal needs. We are happy to style and cut your hair after your scalp treatment leaving your hair feeling refreshed and rejuvenated.  </h2>

      <img src="images/scalp_wellness.jpg">
      <p ng-click="back5()">Go Back</p>
      <img class="i" src="images/startagain.png" ng-click="reset()"/>
    </div>



    <div ng-show="testimonials">
      <!-- <video controls preload="metadata">
      <source src="videos/1.mp4" type="video/mp4">
      <source src="videos/2.mp4" type="video/mp4">
      <source src="videos/3.mp4" type="video/mp4">
      <source src="videos/4.mp4" type="video/mp4">
      <source src="videos/5.mp4" type="video/mp4">
      <source src="videos/6.mp4" type="video/mp4">
      </video>
 -->
      <!-- <div ng-show="myVid1"><video id="myVid1" src="videos/1.mp4" type="video/mp4" controls preload="metadata"></video></div>
      <div ng-show="myVid2"><video id="myVid2" src="videos/2.mp4" type="video/mp4" controls preload="metadata"></video></div>
      <video id="myVid3" src="videos/3.mp4" type="video/mp4" controls preload="metadata" ng-show="myVid3"></video>
      <video id="myVid4" src="videos/4.mp4" type="video/mp4" controls preload="metadata" ng-show="myVid4"></video>
      <video id="myVid5" src="videos/5.mp4" type="video/mp4" controls preload="metadata" ng-show="myVid5"></video>
      <video id="myVid6" src="videos/6.mp4" type="video/mp4" controls preload="metadata" ng-show="myVid6"></video> -->

      <div ng-repeat="vid in videodb" ng-show="vid.vidKey === selectedVid">
        <video id="{{vid.idName}}" ng-src="{{vid.url}}" controls></video>
      </div>

      <div class="vid">

      <h1> Client Testimonials </h1>

     
<!--       <img style="margin-left: 2.5em" src="images/1.jpg" ng-click="hidevid('myVid1', 'myVid2', 'myVid3', 'myVid4', 'myVid5', 'myVid6')">

      <img src="images/2.jpg" ng-click="hidevid('myVid2', 'myVid1', 'myVid3', 'myVid4', 'myVid5', 'myVid6')">

      <img src="images/3.jpg" ng-click="hidevid('myVid3', 'myVid1', 'myVid2', 'myVid4', 'myVid5', 'myVid6')">
      <img src="images/4.jpg" ng-click="hidevid('myVid4', 'myVid1', 'myVid2', 'myVid3', 'myVid5', 'myVid6')">
      <img src="images/5.jpg" ng-click="hidevid('myVid5', 'myVid1', 'myVid2', 'myVid3', 'myVid4', 'myVid6')">
      <img src="images/6.jpg" ng-click="hidevid('myVid6', 'myVid1', 'myVid2', 'myVid3', 'myVid4', 'myVid5')"> -->
      <div class="vids">
      <img ng-repeat="img in videodb" ng-src="{{img.poster}}" ng-click="showVid(img)">
      </div>
      </div>


      <img class="x" src="images/startagain.png" ng-click="reset()"/>
    </div>



       <div class="footer">
        <img src="images/footer.png">
      </div>
  </body>



  <script src="vendor/angular.js" type="text/Javascript"></script>
  <script src="scripts/app.js" type="text/Javascript"></script>

</html>

